<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>TODOリスト</title>
    </head>

    <body>
        <div class="container">
            <h2>TODOリスト</h2>

            <hr>

            <form method="post" th:object="${todoForm}">

                <div class="new-task">
                    <h4>新しくやること</h4>
                    <input type="text" placeholder="やること" th:field="*{newTask}" class="new-task__text">
                    <button type="submit" th:formaction="@{/todo/save}" class="new-task__button button--save">やること追加</button>
                </div>
                

                <hr>
                <h4>やることリスト</h4>
                <ul th:each="task, i : *{todoList}" th:object="${todoForm.todoList[__${i.index}__]}" class="todo-list">
                    <li class="todo-list__item">
                        <input type="text" th:field="*{task}" class="todo-list__item-text">
                        <button type="submit" th:formaction="@{/todo/update/__${i.index}__/__*{todoId}__}" class="todo-list__item-button button--save">編集</button>
                        <button type="submit" th:formaction="@{/todo/delete/__*{todoId}__}" class="todo-list__item-button button--delete">削除</button>
                    </li>
                </ul>

            </form>

        </div>
        
    </body>
</html>